- name: Get join command from master
  command: kubeadm token create --print-join-command
  delegate_to: k8s-master
  register: kubeadm_join_cmd
  changed_when: false
  run_once: true

- name: Join Kubernetes cluster
  command: "{{ kubeadm_join_cmd.stdout }}"
  become: yes