**/group_vars/*.yml
**/__pycache__/*

# Vagrant / SSH
.vagrant/
.venv/
vagrant-ssh
vagrant-ssh/
*.pem
*.key
*.pub

# Docker volumes / data
**/docker/grafana/storage/
**/docker/prometheus/data/

# Logs / temporaires
*.log
*.retry
*.swp
*.tmp