global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets:
          - 192.168.56.10:9100
          - 192.168.56.11:9100
          - 192.168.56.12:9100
